/* ADD CUSTOM CSS TO THE PAGE - THIS AFFECTS ALL DEVICES */
*#dm *.p_hfcontainer a.u_dm-logo-anchor
{
	display:none !important;
}
*#dm *.p_hfcontainer div.u_logo-div
{
	display:none !important;
}
*#dm *.p_hfcontainer *.main-navigation.unifiednav:not(.unifiednav_vertical) *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child)::before
{
	font-size:12px !important;
}
*#dm *.p_hfcontainer *.main-navigation.unifiednav:not(.unifiednav_vertical) *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child)::after
{
	font-size:12px !important;
}
*#dm *.dmInner div.u_hcontainer
{
	background-color:rgba(255,255,255,1) !important;
	box-shadow:rgba(0,0,0,0.25) 0px 3px 11px 0px !important;
	-moz-box-shadow:rgba(0,0,0,0.25) 0px 3px 11px 0px !important;
	-webkit-box-shadow:rgba(0,0,0,0.25) 0px 3px 11px 0px !important;
}
*#dm *.dmInner div.dmHeader.u_hcontainer
{
	background-color:rgba(255,255,255,1) !important;
	box-shadow:rgba(0,0,0,0.25) 0px 3px 11px 0px !important;
	-moz-box-shadow:rgba(0,0,0,0.25) 0px 3px 11px 0px !important;
	-webkit-box-shadow:rgba(0,0,0,0.25) 0px 3px 11px 0px !important;
}
*#dm *.dmInner div.dmHeader
{
	background-color:rgba(255,255,255,1) !important;
	box-shadow:rgba(0,0,0,0.25) 0px 3px 11px 0px !important;
	-moz-box-shadow:rgba(0,0,0,0.25) 0px 3px 11px 0px !important;
	-webkit-box-shadow:rgba(0,0,0,0.25) 0px 3px 11px 0px !important;
}
*#dm *.p_hfcontainer div.u_1298527157 img[dm_changed]
{
	border-radius:0% !important;
	-moz-border-radius:0% !important;
	-webkit-border-radius:0% !important;
}
*#dm *.p_hfcontainer div.u_1298527157 img
{
	border-radius:0% !important;
	-moz-border-radius:0% !important;
	-webkit-border-radius:0% !important;
}
*#dm *.p_hfcontainer nav.u_1122882908.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item.navItemSelectedServer
{
	background-color:rgba(0,0,0,0) !important;
}
*#dm *.p_hfcontainer *.u_1122882908.main-navigation.unifiednav:not(.unifiednav_vertical) *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child)::before
{
	font-size:15px !important;
}
*#dm *.p_hfcontainer *.u_1122882908.main-navigation.unifiednav:not(.unifiednav_vertical) *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child)::after
{
	font-size:15px !important;
}
*#dm *.p_hfcontainer nav.u_1122882908.main-navigation.unifiednav.effect-bottom2 *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item *.nav-item-text::after
{
	border-top-style:solid !important;
	border-top-width:2px !important;
	border-top-color:rgba(91,189,200,1) !important;
}
*#dm *.p_hfcontainer nav.u_1122882908.main-navigation.unifiednav *.unifiednav__container[data-depth]
{
	background-color:rgba(255,255,255,1) !important;
	box-shadow:rgba(0,0,0,0.25) 0px 3px 11px 0px !important;
	-moz-box-shadow:rgba(0,0,0,0.25) 0px 3px 11px 0px !important;
	-webkit-box-shadow:rgba(0,0,0,0.25) 0px 3px 11px 0px !important;
}
*#dm *.p_hfcontainer nav.u_1122882908.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item
{
	color:rgba(51,51,51,1) !important;
	font-weight:normal !important;
	font-family:Roboto !important;
}
*#dm *.p_hfcontainer div.u_1014055129
{
	background-repeat:no-repeat !important;
	background-image:none !important;
	background-size:cover !important;
}
*#dm *.p_hfcontainer div.u_1241321527
{
	background-color:rgba(51,51,51,1) !important;
}
*#dm *.p_hfcontainer *.u_1122882908.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item
{
	padding-right:15px !important;
	padding-left:15px !important;
}
*#dm *.p_hfcontainer *.u_1122882908.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child) *.unifiednav__container[data-depth="0"]
{
	left:15px !important;
}
*#dm *.p_hfcontainer *.u_1122882908.main-navigation.unifiednav[data-middle-logo-nav="true"] *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap *.unifiednav__container[data-depth="0"]
{
	left:15px !important;
	transform:translateX(0px) !important;
}
*#dm *.p_hfcontainer *.u_1122882908.main-navigation.unifiednav[data-middle-logo-nav="true"][layout-main="horizontal_nav_layout_6"] *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap *.unifiednav__container[data-depth="0"]
{
	margin-left:0px !important;
}
*#dm *.p_hfcontainer *.u_1122882908.main-navigation.unifiednav[data-middle-logo-nav="true"][layout-main="horizontal_nav_layout_7"] *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap *.unifiednav__container[data-depth="0"]
{
	margin-left:0px !important;
}
*#dm *.p_hfcontainer *.u_1122882908.main-navigation.unifiednav[data-middle-logo-nav="true"][layout-main="horizontal_nav_layout_8"] *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap *.unifiednav__container[data-depth="0"]
{
	margin-left:0px !important;
}
*#dm *.p_hfcontainer div.dm-title
{
	color:rgba(51,51,51,1) !important;
	font-style:normal !important;
	font-weight:normal !important;
	text-decoration:none !important;
	font-family:Oswald !important;
}
*#dm *.p_hfcontainer div.u_dm-title
{
	display:inline-block !important;
	font-family:Oswald !important;
}
*#dm *.dmInner *.fHeader *.dmHeader[freeheader="true"][data-scrollable-target].scroll-responder_set
{
	padding-top:0 !important;
	padding-bottom:0 !important;
}
*#dm *.dmInner *.dmHeader.scroll-responder_set *[data-widget-type="image"] img
{
	width:87% !important;
}
*#dm *.dmInner *.dmHeader.scroll-responder_set *[data-widget-type="image"]
{
	height:auto !important;
}
*#dm *.dmInner *.dmHeader.scroll-responder_set *.unifiednav *.middleLogoLink *.navLogo
{
	width:100px !important;
	transition:width 0.3s linear !important;
}
*#dm *.dmInner *.dmHeader *.unifiednav *.middleLogoLink *.navLogo
{
	transition:width 0.3s linear !important;
}
*#dm *.p_hfcontainer nav.u_1510887738.main-navigation.unifiednav.effect-text-fill *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item *.nav-item-text::before
{
	color:rgba(147,150,150,1) !important;
	font-weight:normal !important;
}
*#dm *.p_hfcontainer nav.u_1510887738.main-navigation.unifiednav.effect-roll-over *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item *.nav-item-text::before
{
	color:rgba(147,150,150,1) !important;
	font-weight:normal !important;
}
*#dm *.p_hfcontainer nav.u_1510887738.main-navigation.unifiednav *.unifiednav__container[data-depth]
{
	background-color:rgba(0,0,0,0) !important;
}
*#dm *.p_hfcontainer *.u_1510887738.main-navigation.unifiednav[data-nav-structure="SPLIT"] *.unifiednav__container:not([data-depth]) *:not(:last-of-type)>*.unifiednav__item-wrap *.unifiednav__container[data-depth="0"]
{
	left:0px !important;
}
*#dm *.p_hfcontainer *.u_1510887738.main-navigation.unifiednav[data-nav-structure="SPLIT"] *.unifiednav__container:not([data-depth]) *:last-of-type>*.unifiednav__item-wrap:not(:last-child) *.unifiednav__container[data-depth="0"]
{
	left:0px !important;
}
*#dm *.p_hfcontainer *.u_1510887738.main-navigation.unifiednav:not([data-nav-structure='VERTICAL']) *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child)::before
{
	font-size:16px !important;
}
*#dm *.p_hfcontainer *.u_1510887738.main-navigation.unifiednav:not([data-nav-structure='VERTICAL']) *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child)::after
{
	font-size:16px !important;
}
*#dm *.p_hfcontainer *.u_1510887738.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item
{
	padding-top:5px !important;
	padding-bottom:5px !important;
}
*#dm *.p_hfcontainer div.u_1690665855 *.mobileMultilingual *.language
{
	color:rgba(39,42,47,1) !important;
}
*#dm *.p_hfcontainer nav.u_1510887738
{
	color:white !important;
}
*#dm *.p_hfcontainer nav.u_1510887738.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item:hover
{
	color:rgba(255,255,255,1) !important;
	background-color:rgba(0,0,0,0) !important;
}
*#dm *.p_hfcontainer nav.u_1510887738.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item.hover
{
	color:rgba(255,255,255,1) !important;
	background-color:rgba(0,0,0,0) !important;
}
*#dm *.p_hfcontainer nav.u_1510887738.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item.dmNavItemSelected
{
	color:rgba(255,255,255,1) !important;
	background-color:rgba(0,0,0,0) !important;
}
*#dm *.p_hfcontainer *.u_1510887738.main-navigation.unifiednav[data-nav-structure="SPLIT"] *.unifiednav__container:not([data-depth]) *:not(:last-of-type)>*.unifiednav__item-wrap *.unifiednav__container[data-depth="0"]
{
	left:0px !important;
}
*#dm *.p_hfcontainer *.u_1510887738.main-navigation.unifiednav[data-nav-structure="SPLIT"] *.unifiednav__container:not([data-depth]) *:last-of-type>*.unifiednav__item-wrap:not(:last-child) *.unifiednav__container[data-depth="0"]
{
	left:0px !important;
}
*#dm *.p_hfcontainer *.u_1510887738.main-navigation.unifiednav[data-nav-structure="SPLIT"] *.unifiednav__container:not([data-depth]) *:not(:last-of-type)>*.unifiednav__item-wrap *.unifiednav__container[data-depth="0"]
{
	left:0px !important;
}
*#dm *.p_hfcontainer *.u_1510887738.main-navigation.unifiednav[data-nav-structure="SPLIT"] *.unifiednav__container:not([data-depth]) *:last-of-type>*.unifiednav__item-wrap:not(:last-child) *.unifiednav__container[data-depth="0"]
{
	left:0px !important;
}
*#dm *.p_hfcontainer nav.u_1957734737
{
	color:white !important;
}
*#dm *.p_hfcontainer *.u_1957734737.main-navigation.unifiednav[data-nav-structure="SPLIT"] *.unifiednav__container:not([data-depth]) *:not(:last-of-type)>*.unifiednav__item-wrap *.unifiednav__container[data-depth="0"]
{
	left:0px !important;
}
*#dm *.p_hfcontainer *.u_1957734737.main-navigation.unifiednav[data-nav-structure="SPLIT"] *.unifiednav__container:not([data-depth]) *:last-of-type>*.unifiednav__item-wrap:not(:last-child) *.unifiednav__container[data-depth="0"]
{
	left:0px !important;
}
*#dm *.p_hfcontainer nav.u_1957734737.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item:hover
{
	color:rgba(255,255,255,1) !important;
}
*#dm *.p_hfcontainer nav.u_1957734737.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item.hover
{
	color:rgba(255,255,255,1) !important;
}
*#dm *.p_hfcontainer nav.u_1957734737.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item.dmNavItemSelected
{
	color:rgba(255,255,255,1) !important;
}
*#dm *.p_hfcontainer nav.u_1957734737.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item
{
	font-weight:normal !important;
	color:rgba(255,255,255,0.5) !important;
}
*#dm *.p_hfcontainer *.u_1957734737.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item
{
	justify-content:flex-start !important;
	text-align:left !important;
	padding-top:12px !important;
	padding-bottom:12px !important;
}
*#dm *.p_hfcontainer *.u_1957734737.main-navigation.unifiednav[data-nav-structure='VERTICAL'] *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap::after
{
	align-self:flex-start !important;
}
*#dm *.p_hfcontainer *.u_1957734737.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item
{
	justify-content:flex-start !important;
	padding-top:10px !important;
	padding-bottom:10px !important;
}
*#dm *.p_hfcontainer *.u_1957734737.main-navigation.unifiednav:not([image]) *.unifiednav__container[data-depth="0"]
{
	top:calc(100% - 12px - 0px) !important;
}
*#dm *.p_hfcontainer *.u_1957734737.main-navigation.unifiednav[data-nav-structure="HORIZONTAL"] *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child) *.unifiednav__container[data-depth="0"]
{
	left:0px !important;
}
*#dm *.p_hfcontainer *.u_1957734737.main-navigation.unifiednav[data-nav-structure="SPLIT"] *.unifiednav__container:not([data-depth]) *:not(:last-of-type)>*.unifiednav__item-wrap *.unifiednav__container[data-depth="0"]
{
	left:0px !important;
}
*#dm *.p_hfcontainer *.u_1957734737.main-navigation.unifiednav[data-nav-structure="SPLIT"] *.unifiednav__container:not([data-depth]) *:last-of-type>*.unifiednav__item-wrap:not(:last-child) *.unifiednav__container[data-depth="0"]
{
	left:0px !important;
}
*#dm *.p_hfcontainer *.u_1957734737.main-navigation.unifiednav:not([data-nav-structure='VERTICAL']) *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child)::before
{
	font-size:16px !important;
}
*#dm *.p_hfcontainer *.u_1957734737.main-navigation.unifiednav:not([data-nav-structure='VERTICAL']) *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child)::after
{
	font-size:16px !important;
}
*#dm *.p_hfcontainer div.u_1800471303 img[dm_changed]
{
	border-style:solid !important;
	border-width:1px !important;
	border-color:rgba(255,255,255,1) !important;
}
*#dm *.p_hfcontainer div.u_1800471303 img
{
	border-style:solid !important;
	border-width:1px !important;
	border-color:rgba(255,255,255,1) !important;
}
*#dm *.dmInner div.dmFooter
{
	background-color:rgba(0,0,0,1) !important;
}
*#dm *.p_hfcontainer div.u_1535794404 img[dm_changed]
{
	border-radius:0% !important;
	-moz-border-radius:0% !important;
	-webkit-border-radius:0% !important;
}
*#dm *.p_hfcontainer div.u_1535794404 img
{
	border-radius:0% !important;
	-moz-border-radius:0% !important;
	-webkit-border-radius:0% !important;
}
*#dm *.p_hfcontainer *.u_1612827569
{
	display:block !important;
}
*#dm *.p_hfcontainer *.u_1614183196
{
	display:none !important;
}
*#dm *.p_hfcontainer *.u_1096482327
{
	display:none !important;
}
*#dm *.p_hfcontainer *.u_1782587579
{
	display:block !important;
}
*#dm *.p_hfcontainer *.u_1987686319
{
	display:none !important;
}
*#dm *.p_hfcontainer *.u_1215165069
{
	display:none !important;
}
*#dm *.p_hfcontainer *.u_1729371591
{
	display:block !important;
}
*#dm *.p_hfcontainer *.u_1587425640
{
	display:none !important;
}
*#dm *.p_hfcontainer *.u_1428159052
{
	display:none !important;
}
*#dm *.p_hfcontainer *.u_1516251902
{
	display:block !important;
}
*#dm *.p_hfcontainer *.u_1445334780
{
	display:none !important;
}
*#dm *.p_hfcontainer *.u_1835939408
{
	display:none !important;
}
*#dm *.p_hfcontainer div.u_1873681096 *.caption-inner
{
	background-color:rgba(0,0,0,0.28) !important;
}
*#dm *.p_hfcontainer div.u_1873681096 *.caption-container *.caption-title
{
	font-weight:bold !important;
	color:rgba(255,255,255,1) !important;
	font-family:Roboto !important;
}
*#dm *.p_hfcontainer *.u_1873681096 *.caption-inner
{
	border-bottom-left-radius:0px !important;
	-webkit-border-top-right-radius:0px !important;
	-moz-border-top-right-radius:0px !important;
	-webkit-border-bottom-right-radius:0px !important;
	-webkit-border-bottom-left-radius:0px !important;
	border-top-right-radius:0px !important;
	-webkit-border-top-left-radius:0px !important;
	border-radius:0px !important;
	-moz-border-bottom-right-radius:0px !important;
	-moz-border-top-left-radius:0px !important;
	border-top-left-radius:0px !important;
	-moz-border-radius:0px !important;
	-moz-border-bottom-left-radius:0px !important;
	border-bottom-right-radius:0px !important;
	-webkit-border-radius:0px !important;
}
*#dm *.p_hfcontainer nav.u_1957734737.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item:hover
{
	font-weight:normal !important;
	color:rgba(255,255,255,1) !important;
}
*#dm *.p_hfcontainer nav.u_1957734737.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item.hover
{
	font-weight:normal !important;
	color:rgba(255,255,255,1) !important;
}
*#dm *.p_hfcontainer nav.u_1957734737.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item.dmNavItemSelected
{
	font-weight:normal !important;
	color:rgba(255,255,255,1) !important;
}
*#dm *.p_hfcontainer nav.u_1122882908.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item
{
	font-family:Roboto !important;
	color:rgba(0,0,0,1) !important;
}
*#dm *.p_hfcontainer nav.u_1122882908.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item:hover
{
	background-color:rgba(0,0,0,0) !important;
	color:rgba(148,148,148,1) !important;
}
*#dm *.p_hfcontainer nav.u_1122882908.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item.hover
{
	background-color:rgba(0,0,0,0) !important;
	color:rgba(148,148,148,1) !important;
}
*#dm *.p_hfcontainer nav.u_1122882908.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item.dmNavItemSelected
{
	background-color:rgba(0,0,0,0) !important;
	color:rgba(148,148,148,1) !important;
}
*#dm *.p_hfcontainer *.u_1122882908.main-navigation.unifiednav:not([image]) *.unifiednav__container[data-depth="0"]
{
	top:calc(100% - 0px - 0px) !important;
}
*#dm *.p_hfcontainer *.u_1122882908.main-navigation.unifiednav[data-nav-structure="HORIZONTAL"] *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child) *.unifiednav__container[data-depth="0"]
{
	left:15px !important;
}
*#dm *.p_hfcontainer *.u_1122882908.main-navigation.unifiednav[data-nav-structure="SPLIT"] *.unifiednav__container:not([data-depth]) *:not(:last-of-type)>*.unifiednav__item-wrap *.unifiednav__container[data-depth="0"]
{
	left:15px !important;
}
*#dm *.p_hfcontainer *.u_1122882908.main-navigation.unifiednav[data-nav-structure="SPLIT"] *.unifiednav__container:not([data-depth]) *:last-of-type>*.unifiednav__item-wrap:not(:last-child) *.unifiednav__container[data-depth="0"]
{
	left:15px !important;
}
*#dm *.p_hfcontainer nav.u_1122882908.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item:hover
{
	color:rgba(148,148,148,1) !important;
}
*#dm *.p_hfcontainer nav.u_1122882908.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item.hover
{
	color:rgba(148,148,148,1) !important;
}
*#dm *.p_hfcontainer nav.u_1122882908.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item.dmNavItemSelected
{
	color:rgba(148,148,148,1) !important;
}
*#dm *.p_hfcontainer *.u_1510887738.main-navigation.unifiednav[data-nav-structure="SPLIT"] *.unifiednav__container:not([data-depth]) *:not(:last-of-type)>*.unifiednav__item-wrap *.unifiednav__container[data-depth="0"]
{
	left:0px !important;
}
*#dm *.p_hfcontainer *.u_1510887738.main-navigation.unifiednav[data-nav-structure="SPLIT"] *.unifiednav__container:not([data-depth]) *:last-of-type>*.unifiednav__item-wrap:not(:last-child) *.unifiednav__container[data-depth="0"]
{
	left:0px !important;
}
*#dm *.p_hfcontainer nav.u_1510887738.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item:hover
{
	color:rgba(255,255,255,1) !important;
}
*#dm *.p_hfcontainer nav.u_1510887738.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item.hover
{
	color:rgba(255,255,255,1) !important;
}
*#dm *.p_hfcontainer nav.u_1510887738.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item.dmNavItemSelected
{
	color:rgba(255,255,255,1) !important;
}
*#dm *.p_hfcontainer nav.u_1957734737.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item
{
	color:rgb(184,184,184) !important;
	font-weight:normal !important;
}
*#dm *.p_hfcontainer *.u_1510887738.main-navigation.unifiednav[data-nav-structure="SPLIT"] *.unifiednav__container:not([data-depth]) *:not(:last-of-type)>*.unifiednav__item-wrap *.unifiednav__container[data-depth="0"]
{
	left:0px !important;
}
*#dm *.p_hfcontainer *.u_1510887738.main-navigation.unifiednav[data-nav-structure="SPLIT"] *.unifiednav__container:not([data-depth]) *:last-of-type>*.unifiednav__item-wrap:not(:last-child) *.unifiednav__container[data-depth="0"]
{
	left:0px !important;
}
*#dm *.p_hfcontainer *.u_1510887738.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item
{
	padding-top:8px !important;
	padding-bottom:8px !important;
}
*#dm *.p_hfcontainer *.u_1510887738.main-navigation.unifiednav:not([image]) *.unifiednav__container[data-depth="0"]
{
	top:calc(100% - 8px - 0px) !important;
}
*#dm *.p_hfcontainer *.u_1510887738.main-navigation.unifiednav[data-nav-structure="HORIZONTAL"] *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child) *.unifiednav__container[data-depth="0"]
{
	left:0px !important;
}
*#dm *.p_hfcontainer *.u_1510887738.main-navigation.unifiednav[data-nav-structure="SPLIT"] *.unifiednav__container:not([data-depth]) *:not(:last-of-type)>*.unifiednav__item-wrap *.unifiednav__container[data-depth="0"]
{
	left:0px !important;
}
*#dm *.p_hfcontainer *.u_1510887738.main-navigation.unifiednav[data-nav-structure="SPLIT"] *.unifiednav__container:not([data-depth]) *:last-of-type>*.unifiednav__item-wrap:not(:last-child) *.unifiednav__container[data-depth="0"]
{
	left:0px !important;
}
*#dm *.p_hfcontainer nav.u_1510887738.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item
{
	font-weight:normal !important;
	color:rgba(184,184,184,1) !important;
}
*#dm *.p_hfcontainer nav.u_1510887738.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item
{
	color:rgba(184,184,184,1) !important;
	font-weight:normal !important;
}
*.hasGenericSidebar *.u_sideheader
{
	width:20% !important;
}
*.hasGenericSidebar *#siteSidebarSpacer
{
	width:20% !important;
}
*#dm *.p_hfcontainer div.sbcontainer
{
	background-color:rgba(247,247,245,1) !important;
	box-shadow:rgba(0,0,0,0.25) 0px 3px 11px 0px !important;
	-moz-box-shadow:rgba(0,0,0,0.25) 0px 3px 11px 0px !important;
	-webkit-box-shadow:rgba(0,0,0,0.25) 0px 3px 11px 0px !important;
}
*#dm *.p_hfcontainer nav.u_1231261578.main-navigation.unifiednav *.unifiednav__container[data-depth]>*.unifiednav__item-wrap:not(:last-child)::after
{
	border-top-width:0 !important;
}
*#dm *.p_hfcontainer *.u_1231261578.main-navigation.unifiednav[data-nav-structure="SPLIT"] *.unifiednav__container:not([data-depth]) *:not(:last-of-type)>*.unifiednav__item-wrap *.unifiednav__container[data-depth="0"]
{
	left:0px !important;
}
*#dm *.p_hfcontainer *.u_1231261578.main-navigation.unifiednav[data-nav-structure="SPLIT"] *.unifiednav__container:not([data-depth]) *:last-of-type>*.unifiednav__item-wrap:not(:last-child) *.unifiednav__container[data-depth="0"]
{
	left:0px !important;
}
*#dm *.p_hfcontainer *.u_1231261578.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item
{
	padding-top:6px !important;
	padding-bottom:6px !important;
}
*#dm *.p_hfcontainer *.u_1231261578.main-navigation.unifiednav:not([image]) *.unifiednav__container[data-depth="0"]
{
	top:calc(100% - 6px - 0px) !important;
}
*#dm *.p_hfcontainer *.u_1231261578.main-navigation.unifiednav[data-nav-structure="HORIZONTAL"] *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child) *.unifiednav__container[data-depth="0"]
{
	left:0px !important;
}
*#dm *.p_hfcontainer nav.u_1231261578.main-navigation.unifiednav.effect-bottom2 *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item *.nav-item-text::after
{
	border-top-color:rgba(152,152,152,1) !important;
}
*#dm *.p_hfcontainer nav.u_1231261578.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item:hover
{
	color:rgba(152,152,152,1) !important;
}
*#dm *.p_hfcontainer nav.u_1231261578.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item.hover
{
	color:rgba(152,152,152,1) !important;
}
*#dm *.p_hfcontainer nav.u_1231261578.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item.dmNavItemSelected
{
	color:rgba(152,152,152,1) !important;
}
*#dm *.p_hfcontainer nav.u_1231261578.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item
{
	color:rgba(0,0,0,1) !important;
}
*#dm *.p_hfcontainer nav.u_1231261578.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item
{
	color:rgba(0,0,0,1) !important;
}
*#dm *.p_hfcontainer nav.u_1231261578.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item:hover
{
	color:rgba(152,152,152,1) !important;
}
*#dm *.p_hfcontainer nav.u_1231261578.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item.hover
{
	color:rgba(152,152,152,1) !important;
}
*#dm *.p_hfcontainer nav.u_1231261578.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item.dmNavItemSelected
{
	color:rgba(152,152,152,1) !important;
}
*#dm *.p_hfcontainer *.u_1231261578.main-navigation.unifiednav:not([data-nav-structure='VERTICAL']) *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child)::before
{
	font-size:15px !important;
}
*#dm *.p_hfcontainer *.u_1231261578.main-navigation.unifiednav:not([data-nav-structure='VERTICAL']) *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child)::after
{
	font-size:15px !important;
}
*#dm *.p_hfcontainer div.u_1805104256 *.socialHubIcon
{
	color:rgba(152,152,152,1) !important;
	border-color:rgba(152,152,152,1) !important;
}
*#dm *.p_hfcontainer div.u_1394730899 img[dm_changed]
{
	border-radius:0% !important;
	-moz-border-radius:0% !important;
	-webkit-border-radius:0% !important;
}
*#dm *.p_hfcontainer div.u_1394730899 img
{
	border-radius:0% !important;
	-moz-border-radius:0% !important;
	-webkit-border-radius:0% !important;
}
*#dm *.p_hfcontainer a.u_1563906674
{
}
*#dm *.p_hfcontainer div.u_1725049324
{
	background-color:rgba(0,0,0,0) !important;
}
*#dm *.p_hfcontainer div.u_1128485146 img[dm_changed]
{
	border-color:rgba(255,255,255,1) !important;
	border-width:0px !important;
	border-style:solid !important;
}
*#dm *.p_hfcontainer div.u_1128485146 img
{
	border-color:rgba(255,255,255,1) !important;
	border-width:0px !important;
	border-style:solid !important;
}
