/* ADD CUSTOM CSS TO THE PAGE - THIS AFFECTS DESKTOP AND TABLET DEVICES */
*#dm *.dmBody div.u_1480390991
{
	margin-right:0px !important;
	padding-left:0px !important;
}
*#dm *.dmBody h2.u_1681907021
{
	margin-top:-32px !important;
	display:block !important;
	float:none !important;
	top:0px !important;
	left:0px !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0px !important;
	padding-bottom:2px !important;
	margin-right:auto !important;
	margin-left:0 !important;
	max-width:100% !important;
	margin-bottom:8px !important;
	padding-right:0px !important;
	min-width:0 !important;
	text-align:left !important;
}
*#dm *.dmBody h1.u_1406483227
{
	float:none !important;
	top:0px !important;
	left:0px !important;
	width:834px !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0px !important;
	padding-bottom:2px !important;
	margin-right:126px !important;
	margin-left:0px !important;
	max-width:calc(100% - 0px) !important;
	margin-top:0px !important;
	margin-bottom:8px !important;
	padding-right:0px !important;
	min-width:25px !important;
	text-align:left !important;
	display:block !important;
}
*#dm *.dmBody div.u_1522085955
{
	float:none !important;
	top:0px !important;
	left:0px !important;
	width:784px !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0px !important;
	padding-bottom:2px !important;
	margin-right:188px !important;
	margin-left:0px !important;
	max-width:calc(100% - 0px) !important;
	margin-top:8px !important;
	margin-bottom:8px !important;
	padding-right:0px !important;
	min-width:25px !important;
	text-align:left !important;
	display:block !important;
}
*#dm *.dmBody div.u_1126271350
{
	float:none !important;
	top:0px !important;
	left:0 !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	max-width:none !important;
	padding-right:0px !important;
	min-width:0 !important;
	text-align:center !important;
}
*#dm *.dmBody div.u_1019583280
{
	background-position:50% 50% !important;
}
*#dm *.dmBody h3.u_1545278667
{
	float:none !important;
	top:0px !important;
	left:0px !important;
	width:587px !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0px !important;
	padding-bottom:2px !important;
	margin-right:0px !important;
	margin-left:-0.5px !important;
	max-width:calc(100% - 0px) !important;
	margin-top:8px !important;
	margin-bottom:8px !important;
	padding-right:0px !important;
	min-width:25px !important;
	text-align:left !important;
}
*#dm *.dmBody div.u_1063743879
{
	float:none !important;
	top:0px !important;
	left:0px !important;
	width:351px !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0px !important;
	padding-bottom:2px !important;
	margin-right:27.5px !important;
	margin-left:0px !important;
	max-width:calc(100% - 0px) !important;
	margin-top:40px !important;
	margin-bottom:8px !important;
	padding-right:0px !important;
	min-width:25px !important;
	text-align:left !important;
	display:block !important;
}
*#dm *.dmBody div.u_1027826163
{
	margin-top:0px !important;
	display:block !important;
	float:none !important;
	top:0px !important;
	left:0px !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0px !important;
	padding-bottom:2px !important;
	margin-right:auto !important;
	margin-left:0 !important;
	max-width:100% !important;
	margin-bottom:8px !important;
	padding-right:0px !important;
	min-width:0 !important;
	text-align:left !important;
}
*#dm *.dmBody h3.u_1531945420
{
	float:none !important;
	top:0px !important;
	left:0px !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0px !important;
	padding-bottom:2px !important;
	margin-right:auto !important;
	margin-left:0 !important;
	max-width:100% !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
	padding-right:0px !important;
	min-width:0 !important;
	text-align:left !important;
	display:block !important;
}
*#dm *.dmBody h3.u_1842811005
{
	float:none !important;
	top:0px !important;
	left:0px !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0px !important;
	padding-bottom:2px !important;
	margin-right:auto !important;
	margin-left:0 !important;
	max-width:100% !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
	padding-right:0px !important;
	min-width:0 !important;
	text-align:left !important;
	display:block !important;
}
*#dm *.dmBody div.u_1627857253
{
	padding-right:10px !important;
	padding-left:10px !important;
}
*#dm *.dmBody div.u_1171166336
{
	padding-right:10px !important;
	padding-left:10px !important;
}
*#dm *.dmBody div.u_1114634567
{
	margin-top:0px !important;
	display:block !important;
	float:none !important;
	top:0px !important;
	left:0px !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0px !important;
	padding-bottom:2px !important;
	margin-right:auto !important;
	margin-left:0 !important;
	max-width:100% !important;
	margin-bottom:8px !important;
	padding-right:0px !important;
	min-width:0 !important;
	text-align:left !important;
}
*#dm *.dmBody h3.u_1082814662
{
	float:none !important;
	top:0px !important;
	left:0px !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0px !important;
	padding-bottom:2px !important;
	margin-right:auto !important;
	margin-left:0 !important;
	max-width:100% !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
	padding-right:0px !important;
	min-width:0 !important;
	text-align:left !important;
	display:block !important;
}
*#dm *.dmBody div.u_1083050687
{
	padding-right:10px !important;
	padding-left:10px !important;
}
*#dm *.dmBody div.u_1158263767
{
	margin-top:0px !important;
	display:block !important;
	float:none !important;
	top:0px !important;
	left:0px !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0px !important;
	padding-bottom:2px !important;
	margin-right:auto !important;
	margin-left:0 !important;
	max-width:100% !important;
	margin-bottom:8px !important;
	padding-right:0px !important;
	min-width:0 !important;
	text-align:left !important;
}
*#dm *.dmBody h3.u_1920898717
{
	float:none !important;
	top:0px !important;
	left:0px !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0px !important;
	padding-bottom:2px !important;
	margin-right:auto !important;
	margin-left:0 !important;
	max-width:100% !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
	padding-right:0px !important;
	min-width:0 !important;
	text-align:left !important;
	display:block !important;
}
*#dm *.dmBody div.u_1138695266
{
	padding-right:10px !important;
	padding-left:10px !important;
}
*#dm *.dmBody div.u_1551442614
{
	float:none !important;
	top:0px !important;
	left:0 !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:100px !important;
	padding-left:40px !important;
	padding-bottom:100px !important;
	max-width:none !important;
	padding-right:40px !important;
	min-width:0 !important;
	text-align:center !important;
}
*#dm *.dmBody div.u_1158811413
{
	width:70px !important;
	height:70px !important;
	margin-bottom:0px !important;
	display:block !important;
	float:none !important;
	top:0px !important;
	left:0px !important;
	position:relative !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	margin-right:254.984px !important;
	margin-left:0px !important;
	max-width:calc(100% - 0px) !important;
	margin-top:0px !important;
	padding-right:0px !important;
	min-width:25px !important;
	text-align:center !important;
}
*#dm *.dmBody div.u_1512268151
{
	width:70px !important;
	height:70px !important;
	margin-bottom:0px !important;
	display:block !important;
	float:none !important;
	top:0px !important;
	left:0px !important;
	position:relative !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	margin-right:254.984px !important;
	margin-left:0px !important;
	max-width:calc(100% - 0px) !important;
	margin-top:0px !important;
	padding-right:0px !important;
	min-width:25px !important;
	text-align:center !important;
}
*#dm *.dmBody div.u_1177177766
{
	width:70px !important;
	height:70px !important;
	margin-bottom:0px !important;
	display:block !important;
	float:none !important;
	top:0px !important;
	left:0px !important;
	position:relative !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	margin-right:254.984px !important;
	margin-left:0px !important;
	max-width:calc(100% - 0px) !important;
	margin-top:0px !important;
	padding-right:0px !important;
	min-width:25px !important;
	text-align:center !important;
}
*#dm *.dmBody div.u_1995571377
{
	width:70px !important;
	height:70px !important;
	margin-bottom:0px !important;
	display:block !important;
	float:none !important;
	top:0px !important;
	left:0px !important;
	position:relative !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	margin-right:254.984px !important;
	margin-left:0px !important;
	max-width:calc(100% - 0px) !important;
	margin-top:0px !important;
	padding-right:0px !important;
	min-width:25px !important;
	text-align:center !important;
}
*#dm *.dmBody div.u_1306895925
{
	margin-left:0px !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
	padding-right:0px !important;
	margin-right:0px !important;
}
*#dm *.dmBody a.u_1887238340
{
	display:block !important;
	float:none !important;
	top:0px !important;
	left:0px !important;
	width:222px !important;
	position:relative !important;
	height:56px !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	max-width:calc(100% - 0px) !important;
	padding-right:0px !important;
	min-width:25px !important;
	margin-right:240.5px !important;
	margin-left:0px !important;
	margin-top:30px !important;
	margin-bottom:10px !important;
	text-align:left !important;
}
*#dm *.dmBody h2.u_1719723644
{
	display:block !important;
	float:none !important;
	top:0px !important;
	left:0px !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0px !important;
	padding-bottom:2px !important;
	max-width:100% !important;
	padding-right:0px !important;
	min-width:0 !important;
	text-align:left !important;
}
*#dm *.dmBody div.u_1608644577
{
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	padding-right:0px !important;
}
*#dm *.dmBody div.u_1394145437 *.caption-container *.caption-title
{
	font-size:40px !important;
}
*#dm *.dmBody div.u_1598336587 *.caption-container *.caption-title
{
	font-size:40px !important;
}
*#dm *.dmBody div.u_1954871359 *.caption-container *.caption-title
{
	font-size:40px !important;
}
*#dm *.dmBody div.u_1843779053 *.caption-container *.caption-title
{
	font-size:40px !important;
}
*#dm *.dmBody div.u_1715995284
{
	background-position:0% 100% !important;
	padding-right:0px !important;
	margin-right:0px !important;
	background-repeat:no-repeat !important;
	background-size:cover !important;
	padding-top:50px !important;
}
*#dm *.dmBody div.u_1265495822
{
	float:none !important;
	top:0px !important;
	left:0 !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:100px !important;
	padding-left:40px !important;
	padding-bottom:100px !important;
	margin-right:0px !important;
	margin-left:0px !important;
	max-width:none !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
	padding-right:40px !important;
	min-width:0 !important;
	text-align:center !important;
	background-repeat:no-repeat !important;
	background-size:cover !important;
	background-position:0% 0% !important;
}
*#dm *.dmBody div.u_1994853934
{
	margin-top:0px !important;
	display:block !important;
	float:none !important;
	top:0px !important;
	left:0px !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0px !important;
	padding-bottom:2px !important;
	margin-right:0px !important;
	margin-left:0px !important;
	max-width:calc(100% - 0px) !important;
	margin-bottom:8px !important;
	padding-right:0px !important;
	min-width:25px !important;
	text-align:left !important;
}
*#dm *.dmBody div.u_1100711509
{
	margin-left:0px !important;
	padding-top:100px !important;
	padding-left:20px !important;
	padding-bottom:150px !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
	padding-right:20px !important;
	margin-right:0px !important;
}
*#dm *.dmBody div.u_1551588245
{
	float:none !important;
	top:0px !important;
	left:0 !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:200px !important;
	padding-left:40px !important;
	padding-bottom:300px !important;
	max-width:none !important;
	padding-right:40px !important;
	min-width:0 !important;
	text-align:center !important;
	background-attachment:initial !important;
	background-size:cover !important;
	margin-top:0px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	margin-bottom:0px !important;
	background-position:0 50% !important;
}
*#dm *.dmBody div.u_1376940687 *.slides *.slide-title
{
	font-size:20px !important;
}
*#dm *.dmBody h2.u_1545278667
{
	float:none !important;
	top:0px !important;
	left:0 !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0px !important;
	padding-bottom:2px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:calc(100% - 0px) !important;
	margin-top:8px !important;
	margin-bottom:8px !important;
	padding-right:0px !important;
	min-width:25px !important;
	text-align:left !important;
}
*#dm *.dmBody div.u_1757418509
{
	float:none !important;
	top:0px !important;
	left:0px !important;
	width:522px !important;
	position:relative !important;
	height:579px !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	margin-right:0px !important;
	margin-left:0px !important;
	max-width:calc(100% - 0px) !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
	padding-right:0px !important;
	min-width:25px !important;
	text-align:center !important;
}
*#dm *.dmBody div.u_1183537987
{
	padding-top:180px !important;
	padding-left:80px !important;
	padding-bottom:180px !important;
	padding-right:80px !important;
}
*#dm *.dmBody a.u_1122861294
{
	display:block !important;
	float:none !important;
	top:0px !important;
	left:0px !important;
	width:222px !important;
	position:relative !important;
	height:56px !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	margin-right:738px !important;
	margin-left:0px !important;
	max-width:calc(100% - 0px) !important;
	margin-top:29px !important;
	margin-bottom:10px !important;
	padding-right:0px !important;
	min-width:25px !important;
}
*#dm *.dmBody div.u_1381885977
{
	padding-top:100px !important;
	padding-bottom:100px !important;
	background-position:50% 50% !important;
	padding-left:0px !important;
}
*#dm *.dmBody div.u_1442294328
{
	padding-top:100px !important;
	padding-bottom:100px !important;
	background-position:50% 50% !important;
	padding-left:0px !important;
}
*#dm *.dmBody div.u_1481397729
{
	padding-top:100px !important;
	padding-bottom:100px !important;
	background-position:50% 50% !important;
	padding-right:0px !important;
}
*#dm *.dmBody div.u_1432652653
{
	padding-top:100px !important;
	padding-bottom:100px !important;
	background-position:50% 50% !important;
	padding-right:0px !important;
}
*#dm *.dmBody div.u_1954871359
{
	display:block !important;
	float:none !important;
	top:0px !important;
	left:0 !important;
	width:323px !important;
	position:relative !important;
	height:auto !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	max-width:100% !important;
	padding-right:0px !important;
	min-width:0 !important;
	text-align:center !important;
	margin-right:auto !important;
	margin-left:auto !important;
	margin-top:0px !important;
	margin-bottom:10px !important;
}
*#dm *.dmBody div.u_1394145437
{
	display:block !important;
	float:none !important;
	top:0px !important;
	left:0 !important;
	width:319px !important;
	position:relative !important;
	height:auto !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:calc(100% - 79px) !important;
	margin-top:0px !important;
	margin-bottom:10px !important;
	padding-right:0px !important;
	min-width:25px !important;
	text-align:center !important;
}
*#dm *.dmBody *.u_1598336587 *.photoGalleryThumbs *.image-container a
{
	padding-top:319px !important;
}
*#dm *.dmBody *.u_1954871359 *.photoGalleryThumbs *.image-container a
{
	padding-top:319px !important;
}
*#dm *.dmBody *.u_1843779053 *.photoGalleryThumbs *.image-container a
{
	padding-top:319px !important;
}
*#dm *.dmBody div.u_1598336587
{
	display:block !important;
	float:none !important;
	top:0px !important;
	left:0 !important;
	width:325px !important;
	position:relative !important;
	height:auto !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	max-width:100% !important;
	padding-right:0px !important;
	min-width:0 !important;
	text-align:center !important;
	margin-right:auto !important;
	margin-left:auto !important;
	margin-top:0px !important;
	margin-bottom:10px !important;
}
*#dm *.dmBody div.u_1843779053
{
	display:block !important;
	float:none !important;
	top:0px !important;
	left:0 !important;
	width:324px !important;
	position:relative !important;
	height:auto !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	max-width:100% !important;
	padding-right:0px !important;
	min-width:0 !important;
	text-align:center !important;
	margin-right:auto !important;
	margin-left:auto !important;
	margin-top:0px !important;
	margin-bottom:10px !important;
}
*#dm *.dmBody div.u_1376940687
{
	float:none !important;
	top:0px !important;
	left:0px !important;
	width:878px !important;
	position:relative !important;
	height:71px !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	margin-right:524px !important;
	margin-left:-84px !important;
	max-width:calc(100% - -44px) !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
	padding-right:0px !important;
	min-width:25px !important;
	text-align:center !important;
	display:block !important;
}
*#dm *.d-page-1716942098 DIV.dmInner
{
	background-repeat:repeat !important;
	background-image:url(https://irp-cdn.multiscreensite.com/3b6447d3/dms3rep/multi/modern_house.jpg) !important;
	background-size:auto !important;
	background-attachment:fixed !important;
	background-position:50% 0% !important;
}
*#dm *.d-page-1716942098 DIV#dmSlideRightNavRight
{
	background-repeat:repeat !important;
	background-image:url(https://irp-cdn.multiscreensite.com/3b6447d3/dms3rep/multi/modern_house.jpg) !important;
	background-size:auto !important;
	background-attachment:fixed !important;
	background-position:50% 0% !important;
}
*#dm *.dmBody div.u_1803440521
{
	float:none !important;
	top:0px !important;
	left:0 !important;
	width:747px !important;
	position:relative !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:100% !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
	padding-right:0px !important;
	min-width:0 !important;
	text-align:center !important;
	display:block !important;
	height:auto !important;
}
*#dm *.dmBody div.u_1044619838
{
	float:none !important;
	top:0px !important;
	left:0 !important;
	width:calc(100% - 0px) !important;
	position:relative !important;
	height:auto !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:100% !important;
	margin-top:82px !important;
	margin-bottom:0px !important;
	padding-right:0px !important;
	min-width:25px !important;
	text-align:center !important;
	display:block !important;
}
*#dm *.dmBody div.u_1044619838 .postArticle .blogImgLink
{
	max-height:100% !important;
	max-width:100% !important;
}
*#dm *.dmBody div.u_1044619838 .postTitle a
{
	font-size:23px !important;
}
