section{
    display: flex;
    justify-content: start;
    align-items: flex-end;
    min-height: auto;
    overflow: hidden;
}
section .text{
    position: absolute;
    color: white;
    font-size: 1.5em;
    user-select: none;
    pointer-events: none;
    animation: animate 7.5s linear infinite;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
section .text span{
    top: -100px ;
    transform-origin: 0 100px;
    position: absolute;
    text-transform: uppercase;
    display: inline-block;
}