.my-name-is{
	margin: 1em 0;
	font-family: $font-main;
	position: relative;
	// -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
	line-height: 0.70em;
	outline: none;
	animation: animateNeon 5s linear infinite;
}
@keyframes animateNeon{
	 0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
		color: #0e3742;
		text-shadow: none;
	 }
	 18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
		color: #fff;
		text-shadow: 	0 0 10px #03bcf4,
						0 0 20px #03bcf4,
						0 0 40px #03bcf4,
						0 0 80px #03bcf4,
						0 0 160px #03bcf4,
	 }
}

// ScriptNeon
.box{
	position: relative;
	width: 600px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.box h1{
	color:#fff;
	font-weight: 600;
	letter-spacing: 0.1em;
	text-shadow:	0 0 10px #03bcf4,
					0 0 20px #03bcf4,
					0 0 40px #03bcf4,
					0 0 80px #03bcf4,
					0 0 120px #03bcf4;
}
.lightbar{
	position: absolute;
	top: 0;
	left: 0;
	width: 10px;
	height: 100%;
	border-radius:  10px;
	background: #fff;
	z-index: 2;
	box-shadow:		0 0 10px #03bcf4,
					0 0 20px #03bcf4,
					0 0 40px #03bcf4,
					0 0 80px #03bcf4,
					0 0 120px #03bcf4;
	animation: animatelightbar 5s linear infinite;
}
@keyframes animatelightbar{
	0%,5%{
		transform: scaleY(0) translateX(0);
	}
	10%{
		transform: scaleY(1) translateX(0);
	}
	90%{
		transform: scaleY(1) translateX(calc(600px - 10px));
	}
	95%,100%{
		transform: scaleY(0) translateX(calc(600px - 10px));
	}
}
