/* ADD CUSTOM CSS TO THE PAGE - THIS AFFECTS MOBILE DEVICES */
*#dm *.dmBody div.u_1480390991
{
	padding-right:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
}
*#dm *.dmBody div.u_1126271350
{
	padding-top:0px !important;
	padding-bottom:0px !important;
}
*#dm *.dmBody div.u_1994853934
{
	float:none !important;
	top:0px !important;
	left:0 !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0px !important;
	padding-bottom:2px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:calc(100% - 0px) !important;
	margin-top:0px !important;
	margin-bottom:8px !important;
	padding-right:0px !important;
	min-width:25px !important;
	text-align:left !important;
}
*#dm *.dmBody h3.u_1842811005
{
	float:none !important;
	top:0px !important;
	left:0 !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0px !important;
	padding-bottom:2px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:calc(100% - 0px) !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
	padding-right:0px !important;
	min-width:25px !important;
	text-align:left !important;
}
*#dm *.dmBody h3.u_1531945420
{
	float:none !important;
	top:0px !important;
	left:0 !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0px !important;
	padding-bottom:2px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:calc(100% - 0px) !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
	padding-right:0px !important;
	min-width:25px !important;
	text-align:left !important;
}
*#dm *.dmBody div.u_1171166336
{
	padding-top:10px !important;
	padding-bottom:10px !important;
}
*#dm *.dmBody div.u_1627857253
{
	padding-top:0px !important;
	padding-bottom:10px !important;
}
*#dm *.dmBody div.u_1995571377
{
	width:45px !important;
	height:45px !important;
	margin-bottom:0px !important;
	float:none !important;
	top:0px !important;
	left:0px !important;
	position:relative !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	margin-right:auto !important;
	margin-left:0 !important;
	max-width:100% !important;
	margin-top:0px !important;
	padding-right:0px !important;
	min-width:0 !important;
	text-align:center !important;
	display:block !important;
}
*#dm *.dmBody div.u_1027826163
{
	float:none !important;
	top:0px !important;
	left:0 !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0px !important;
	padding-bottom:2px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:calc(100% - 0px) !important;
	margin-top:0px !important;
	margin-bottom:8px !important;
	padding-right:0px !important;
	min-width:25px !important;
	text-align:left !important;
}
*#dm *.dmBody div.u_1512268151
{
	width:45px !important;
	height:45px !important;
	margin-bottom:0px !important;
	float:none !important;
	top:0px !important;
	left:0px !important;
	position:relative !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	margin-right:190px !important;
	margin-left:0px !important;
	max-width:calc(100% - 0px) !important;
	margin-top:0px !important;
	padding-right:0px !important;
	min-width:25px !important;
	text-align:center !important;
	display:block !important;
}
*#dm *.dmBody h3.u_1082814662
{
	float:none !important;
	top:0px !important;
	left:0 !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0px !important;
	padding-bottom:2px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:calc(100% - 0px) !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
	padding-right:0px !important;
	min-width:25px !important;
	text-align:left !important;
}
*#dm *.dmBody div.u_1083050687
{
	padding-top:10px !important;
	padding-bottom:10px !important;
}
*#dm *.dmBody div.u_1114634567
{
	float:none !important;
	top:0px !important;
	left:0 !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0px !important;
	padding-bottom:2px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:calc(100% - 0px) !important;
	margin-top:0px !important;
	margin-bottom:8px !important;
	padding-right:0px !important;
	min-width:25px !important;
	text-align:left !important;
}
*#dm *.dmBody div.u_1158811413
{
	width:45px !important;
	height:45px !important;
	margin-bottom:0px !important;
	float:none !important;
	top:0px !important;
	left:0px !important;
	position:relative !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	margin-right:190px !important;
	margin-left:0px !important;
	max-width:calc(100% - 0px) !important;
	margin-top:0px !important;
	padding-right:0px !important;
	min-width:25px !important;
	text-align:center !important;
	display:block !important;
}
*#dm *.dmBody h3.u_1920898717
{
	float:none !important;
	top:0px !important;
	left:0 !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0px !important;
	padding-bottom:2px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:calc(100% - 0px) !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
	padding-right:0px !important;
	min-width:25px !important;
	text-align:left !important;
}
*#dm *.dmBody div.u_1138695266
{
	padding-top:10px !important;
	padding-bottom:10px !important;
}
*#dm *.dmBody div.u_1158263767
{
	float:none !important;
	top:0px !important;
	left:0 !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0px !important;
	padding-bottom:2px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:calc(100% - 0px) !important;
	margin-top:0px !important;
	margin-bottom:8px !important;
	padding-right:0px !important;
	min-width:25px !important;
	text-align:left !important;
}
*#dm *.dmBody div.u_1177177766
{
	width:45px !important;
	height:45px !important;
	margin-bottom:0px !important;
	float:none !important;
	top:0px !important;
	left:0px !important;
	position:relative !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	margin-right:190px !important;
	margin-left:0px !important;
	max-width:calc(100% - 0px) !important;
	margin-top:0px !important;
	padding-right:0px !important;
	min-width:25px !important;
	text-align:center !important;
	display:block !important;
}
*#dm *.dmBody div.u_1551442614
{
	padding-right:20px !important;
	padding-left:20px !important;
	padding-top:40px !important;
	padding-bottom:40px !important;
}
*#dm *.dmBody div.u_1394145437 *.caption-container *.caption-title
{
	font-size:25px !important;
}
*#dm *.dmBody div.u_1432652653
{
	padding-top:20px !important;
	padding-bottom:20px !important;
}
*#dm *.dmBody div.u_1381885977
{
	padding-top:20px !important;
	padding-bottom:20px !important;
	background-position:50% 50% !important;
}
*#dm *.dmBody div.u_1394145437
{
	float:none !important;
	top:0px !important;
	left:0 !important;
	width:235px !important;
	position:relative !important;
	height:auto !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:100% !important;
	margin-top:10px !important;
	margin-bottom:10px !important;
	padding-right:0px !important;
	min-width:0 !important;
	text-align:center !important;
	display:block !important;
}
*#dm *.dmBody div.u_1598336587
{
	float:none !important;
	top:0px !important;
	left:0 !important;
	width:235px !important;
	position:relative !important;
	height:auto !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:calc(100% - 20px) !important;
	margin-top:10px !important;
	margin-bottom:10px !important;
	padding-right:0px !important;
	min-width:25px !important;
	text-align:center !important;
}
*#dm *.dmBody div.u_1598336587 *.caption-container *.caption-title
{
	font-size:25px !important;
}
*#dm *.dmBody div.u_1608644577
{
	margin-left:0px !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
	padding-right:0px !important;
	margin-right:0px !important;
}
*#dm *.dmBody div.u_1306895925
{
	margin-left:0px !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
	padding-right:0px !important;
	margin-right:0px !important;
}
*#dm *.dmBody div.u_1954871359 *.caption-container *.caption-title
{
	font-size:25px !important;
}
*#dm *.dmBody div.u_1954871359
{
	float:none !important;
	top:0px !important;
	left:0 !important;
	width:235px !important;
	position:relative !important;
	height:auto !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:calc(100% - 20px) !important;
	margin-top:10px !important;
	margin-bottom:10px !important;
	padding-right:0px !important;
	min-width:25px !important;
	text-align:center !important;
}
*#dm *.dmBody div.u_1481397729
{
	padding-top:20px !important;
	padding-bottom:20px !important;
}
*#dm *.dmBody div.u_1442294328
{
	padding-top:20px !important;
	padding-bottom:20px !important;
}
*#dm *.dmBody div.u_1843779053 *.caption-container *.caption-title
{
	font-size:25px !important;
}
*#dm *.dmBody div.u_1843779053
{
	float:none !important;
	top:0px !important;
	left:0 !important;
	width:235px !important;
	position:relative !important;
	height:auto !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:calc(100% - 20px) !important;
	margin-top:10px !important;
	margin-bottom:10px !important;
	padding-right:0px !important;
	min-width:25px !important;
	text-align:center !important;
}
*#dm *.dmBody div.u_1100711509
{
	padding-top:40px !important;
	padding-bottom:40px !important;
}
*#dm *.dmBody div.u_1044619838
{
	float:none !important;
	top:0px !important;
	left:0 !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:calc(100% - 0px) !important;
	margin-top:45px !important;
	margin-bottom:0px !important;
	padding-right:0px !important;
	min-width:25px !important;
	text-align:center !important;
}
*#dm *.dmBody div.u_1183537987
{
	padding-top:50px !important;
	padding-bottom:50px !important;
	padding-right:15px !important;
}
*#dm *.dmBody div.u_1063743879
{
	float:none !important;
	top:0px !important;
	left:0 !important;
	width:272px !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0px !important;
	padding-bottom:2px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:calc(100% - 1px) !important;
	margin-top:8px !important;
	margin-bottom:8px !important;
	padding-right:0px !important;
	min-width:25px !important;
	text-align:left !important;
}
*#dm *.dmBody h2.u_1681907021
{
	margin-top:-17px !important;
	float:none !important;
	top:0px !important;
	left:0 !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0px !important;
	padding-bottom:2px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:calc(100% - 0px) !important;
	margin-bottom:8px !important;
	padding-right:0px !important;
	min-width:25px !important;
	text-align:left !important;
}
*#dm *.dmBody div.u_1376940687 *.slides *.slide-title
{
	font-size:16px !important;
}
*#dm *.dmBody div.u_1551588245
{
	padding-top:33px !important;
	padding-bottom:73px !important;
	background-position:50% 50% !important;
	background-repeat:no-repeat !important;
	background-size:cover !important;
	padding-right:15px !important;
	padding-left:15px !important;
}
*#dm *.dmBody div.u_1019583280
{
	padding-bottom:0px !important;
	background-position:50% 50% !important;
}
*#dm *.dmBody div.u_1757418509
{
	float:none !important;
	top:0px !important;
	left:0 !important;
	width:100% !important;
	position:relative !important;
	height:341px !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:calc(100% - 0px) !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
	padding-right:0px !important;
	min-width:25px !important;
	text-align:center !important;
}
*#dm *.d-page-1716942098 DIV.dmInner
{
	background-repeat:no-repeat !important;
	background-image:url(https://irp-cdn.multiscreensite.com/3b6447d3/dms3rep/multi/modern_house_mobile.jpg) !important;
	background-size:contain !important;
	background-position:50% 0% !important;
	background-color:rgba(255,255,255,1) !important;
}
*#dm *.d-page-1716942098 DIV#dmSlideRightNavRight
{
	background-repeat:no-repeat !important;
	background-image:url(https://irp-cdn.multiscreensite.com/3b6447d3/dms3rep/multi/modern_house_mobile.jpg) !important;
	background-size:contain !important;
	background-position:50% 0% !important;
	background-color:rgba(255,255,255,1) !important;
}
*#dm *.dmBody div.u_1376940687
{
	float:none !important;
	top:0px !important;
	left:0px !important;
	width:100% !important;
	position:relative !important;
	height:76px !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	margin-right:auto !important;
	margin-left:0 !important;
	max-width:100% !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
	padding-right:0px !important;
	min-width:0 !important;
	text-align:center !important;
	display:block !important;
}
*#dm *.dmBody a.u_1887238340
{
	float:none !important;
	top:0px !important;
	left:0px !important;
	width:235px !important;
	position:relative !important;
	height:53px !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	margin-right:auto !important;
	margin-left:0 !important;
	max-width:100% !important;
	margin-top:10px !important;
	margin-bottom:10px !important;
	padding-right:0px !important;
	min-width:0 !important;
	text-align:left !important;
	display:block !important;
}
*#dm *.dmBody div.u_1715995284
{
	padding-bottom:0px !important;
	background-position:50% 50% !important;
	padding-right:0px !important;
	padding-left:0px !important;
	margin-left:0px !important;
	padding-top:20px !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
	margin-right:0px !important;
}
*#dm *.dmBody div.u_1265495822
{
	padding-top:20px !important;
	padding-right:15px !important;
	padding-left:15px !important;
}
*#dm *.dmBody h1.u_1406483227
{
	float:none !important;
	top:0px !important;
	left:0 !important;
	width:calc(100% - 0px) !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0px !important;
	padding-bottom:2px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:100% !important;
	margin-top:15px !important;
	margin-bottom:8px !important;
	padding-right:0px !important;
	min-width:25px !important;
	text-align:left !important;
}
