/* ADD CUSTOM CSS TO THE PAGE - THIS AFFECTS ALL DEVICES */
*#dm *.dmBody h1.u_1406483227
{
	line-height:normal !important;
}
*#dm *.dmBody div.dmforminput textarea
{
	color:rgba(51,51,51,1) !important;
}
*#dm *.dmBody div.dmforminput *.fileUploadLink
{
	color:rgba(51,51,51,1) !important;
}
*#dm *.dmBody div.checkboxwrapper span
{
	color:rgba(51,51,51,1) !important;
}
*#dm *.dmBody div.radiowrapper span
{
	color:rgba(51,51,51,1) !important;
}
*#dm *.dmBody *.u_1551588245:before
{
	opacity:0.5 !important;
	background-color:rgb(33,37,39) !important;
}
*#dm *.dmBody *.u_1551588245.before
{
	opacity:0.5 !important;
	background-color:rgb(33,37,39) !important;
}
*#dm *.dmBody div.u_1551588245:before
{
	background-color:rgba(33,37,39,1) !important;
	opacity:0.26 !important;
}
*#dm *.dmBody div.u_1551588245.before
{
	background-color:rgba(33,37,39,1) !important;
	opacity:0.26 !important;
}
*#dm *.dmBody div.u_1522085955
{
	line-height:200% !important;
}
*#dm *.dmBody div.u_1100711509
{
	background-color:rgba(255,255,255,1) !important;
}
*#dm *.dmBody div.u_1551588245
{
	background-repeat:no-repeat !important;
	background-image:none !important;
	box-shadow:none !important;
	-moz-box-shadow:none !important;
	-webkit-box-shadow:none !important;
	background-color:rgba(0,0,0,0) !important;
}
*#dm *.dmBody *.u_1145882632
{
	background-image:url(https://irp-cdn.multiscreensite.com/3b6447d3/dms3rep/multi/empty_02.png) !important;
}
*#dm *.dmBody div.u_1376940687 *.slides *.slide-title
{
	color:rgba(255,255,255,1) !important;
}
*#dm *.dmBody div.u_1376940687 *.color-overlay
{
	background-color:rgba(0,0,0,0) !important;
}
*#dm *.dmBody *.u_1710642998
{
	display:none !important;
}
*#dm *.dmBody *.u_1705177272
{
	display:none !important;
}
*#dm *.dmBody div.u_1126271350
{
	background-color:rgba(246,246,246,1) !important;
}
*#dm *.dmBody div.u_1183537987
{
	background-color:rgba(246,246,246,1) !important;
}
*#dm *.dmBody div.u_1551442614
{
	background-color:rgba(255,255,255,1) !important;
}
*#dm *.dmBody div.u_1044619838 *.postArticle>*.inner
{
	border-radius:0px !important;
	-moz-border-radius:0px !important;
	-webkit-border-radius:0px !important;
}
*#dm *.dmBody *.u_1442294328:before
{
	opacity:0.5 !important;
	background-color:rgb(255,255,255) !important;
}
*#dm *.dmBody *.u_1442294328.before
{
	opacity:0.5 !important;
	background-color:rgb(255,255,255) !important;
}
*#dm *.dmBody *.u_1481397729:before
{
	opacity:0.5 !important;
	background-color:rgb(255,255,255) !important;
}
*#dm *.dmBody *.u_1481397729.before
{
	opacity:0.5 !important;
	background-color:rgb(255,255,255) !important;
}
*#dm *.dmBody div.u_1481397729
{
	background-repeat:no-repeat !important;
	background-image:url(https://irp-cdn.multiscreensite.com/md/unsplash/dms3rep/multi/photo-1508626050242-57310989ae3d.jpg) !important;
	background-size:cover !important;
}
*#dm *.dmBody div.u_1442294328
{
	background-repeat:no-repeat !important;
	background-image:url(https://irp-cdn.multiscreensite.com/md/unsplash/dms3rep/multi/photo-1517149111020-bf54819ed09a.jpg) !important;
	background-size:cover !important;
}
*#dm *.dmBody *.u_1887238340
{
	text-align:LEFT !important;
}
*#dm *.dmBody *.u_1381885977:before
{
	opacity:0.5 !important;
	background-color:rgb(255,255,255) !important;
}
*#dm *.dmBody *.u_1381885977.before
{
	opacity:0.5 !important;
	background-color:rgb(255,255,255) !important;
}
*#dm *.dmBody *.u_1432652653:before
{
	opacity:0.5 !important;
	background-color:rgb(255,255,255) !important;
}
*#dm *.dmBody *.u_1432652653.before
{
	opacity:0.5 !important;
	background-color:rgb(255,255,255) !important;
}
*#dm *.dmBody div.u_1381885977
{
	background-repeat:no-repeat !important;
	background-image:url(https://irp-cdn.multiscreensite.com/md/unsplash/dms3rep/multi/photo-1484519213701-f60f23ec40c6.jpg) !important;
	background-size:cover !important;
}
*#dm *.dmBody div.u_1394145437 *.caption-container *.caption-title
{
	color:rgba(255,255,255,1) !important;
	font-weight:bold !important;
}
*#dm *.dmBody div.u_1394145437 *.caption-container *.caption-text
{
	color:rgba(0,0,0,0) !important;
}
*#dm *.dmBody div.caption-container *.caption-text *.rteBlock
{
	color:rgba(0,0,0,0) !important;
}
*#dm *.dmBody *.u_1303649975
{
	display:block !important;
}
*#dm *.dmBody *.u_1944630567
{
	display:none !important;
}
*#dm *.dmBody *.u_1842314720
{
	display:none !important;
}
*#dm *.dmBody div.u_1394145437 *.caption-inner
{
	border-style:solid !important;
	border-width:7px !important;
	border-color:rgba(255,255,255,1) !important;
	background-color:rgba(0,0,0,0) !important;
}
*#dm *.dmBody div.u_1598336587 *.caption-container *.caption-title
{
	color:rgba(255,255,255,1) !important;
	font-weight:bold !important;
}
*#dm *.dmBody div.u_1598336587 *.caption-container *.caption-text
{
	color:rgba(0,0,0,0) !important;
}
*#dm *.dmBody *.u_1902877499
{
	display:block !important;
}
*#dm *.dmBody *.u_1650387313
{
	display:none !important;
}
*#dm *.dmBody *.u_1416367743
{
	display:none !important;
}
*#dm *.dmBody div.u_1598336587 *.caption-inner
{
	border-style:solid !important;
	border-width:7px !important;
	border-color:rgba(255,255,255,1) !important;
	background-color:rgba(0,0,0,0) !important;
}
*#dm *.dmBody div.u_1954871359 *.caption-container *.caption-title
{
	color:rgba(255,255,255,1) !important;
	font-weight:bold !important;
}
*#dm *.dmBody div.u_1954871359 *.caption-container *.caption-text
{
	color:rgba(0,0,0,0) !important;
}
*#dm *.dmBody *.u_1527145844
{
	display:block !important;
}
*#dm *.dmBody *.u_1764728108
{
	display:none !important;
}
*#dm *.dmBody *.u_1165920246
{
	display:none !important;
}
*#dm *.dmBody div.u_1954871359 *.caption-inner
{
	border-style:solid !important;
	border-width:7px !important;
	border-color:rgba(255,255,255,1) !important;
	background-color:rgba(0,0,0,0) !important;
}
*#dm *.dmBody div.u_1843779053 *.caption-container *.caption-title
{
	color:rgba(255,255,255,1) !important;
	font-weight:bold !important;
}
*#dm *.dmBody div.u_1843779053 *.caption-container *.caption-text
{
	color:rgba(0,0,0,0) !important;
}
*#dm *.dmBody *.u_1665738260
{
	display:block !important;
}
*#dm *.dmBody *.u_1165302195
{
	display:none !important;
}
*#dm *.dmBody *.u_1777211638
{
	display:none !important;
}
*#dm *.dmBody div.u_1843779053 *.caption-inner
{
	border-style:solid !important;
	border-width:7px !important;
	border-color:rgba(255,255,255,1) !important;
	background-color:rgba(0,0,0,0) !important;
}
*#dm *.dmBody div.u_1715995284
{
	background-repeat:no-repeat !important;
	background-image:none !important;
	background-size:cover !important;
	border-style:solid !important;
	border-width:0px !important;
	border-color:rgba(255,255,255,1) !important;
}
*#dm *.dmBody div.u_1265495822
{
	background-color:rgba(255,255,255,1) !important;
	background-repeat:no-repeat !important;
	background-image:none !important;
	background-size:cover !important;
}
*#dm *.dmBody div.u_1063743879
{
	line-height:200% !important;
}
*#dm *.dmBody div.u_1608644577
{
	background-color:rgba(255,255,255,1) !important;
}
*#dm *.dmBody *.u_1394145437 *.caption-inner
{
	border-bottom-left-radius:0px !important;
	-webkit-border-top-right-radius:0px !important;
	-moz-border-top-right-radius:0px !important;
	-webkit-border-bottom-right-radius:0px !important;
	-webkit-border-bottom-left-radius:0px !important;
	border-top-right-radius:0px !important;
	-webkit-border-top-left-radius:0px !important;
	border-radius:0px !important;
	-moz-border-bottom-right-radius:0px !important;
	-moz-border-top-left-radius:0px !important;
	border-top-left-radius:0px !important;
	-moz-border-radius:0px !important;
	-moz-border-bottom-left-radius:0px !important;
	border-bottom-right-radius:0px !important;
	-webkit-border-radius:0px !important;
}
*#dm *.dmBody *.u_1598336587 *.caption-inner
{
	border-bottom-left-radius:0px !important;
	-webkit-border-top-right-radius:0px !important;
	-moz-border-top-right-radius:0px !important;
	-webkit-border-bottom-right-radius:0px !important;
	-webkit-border-bottom-left-radius:0px !important;
	border-top-right-radius:0px !important;
	-webkit-border-top-left-radius:0px !important;
	border-radius:0px !important;
	-moz-border-bottom-right-radius:0px !important;
	-moz-border-top-left-radius:0px !important;
	border-top-left-radius:0px !important;
	-moz-border-radius:0px !important;
	-moz-border-bottom-left-radius:0px !important;
	border-bottom-right-radius:0px !important;
	-webkit-border-radius:0px !important;
}
*#dm *.dmBody div.u_1306895925
{
	background-color:rgba(255,255,255,1) !important;
}
*#dm *.dmBody *.u_1954871359 *.caption-inner
{
	border-bottom-left-radius:0px !important;
	-webkit-border-top-right-radius:0px !important;
	-moz-border-top-right-radius:0px !important;
	-webkit-border-bottom-right-radius:0px !important;
	-webkit-border-bottom-left-radius:0px !important;
	border-top-right-radius:0px !important;
	-webkit-border-top-left-radius:0px !important;
	border-radius:0px !important;
	-moz-border-bottom-right-radius:0px !important;
	-moz-border-top-left-radius:0px !important;
	border-top-left-radius:0px !important;
	-moz-border-radius:0px !important;
	-moz-border-bottom-left-radius:0px !important;
	border-bottom-right-radius:0px !important;
	-webkit-border-radius:0px !important;
}
*#dm *.dmBody *.u_1843779053 *.caption-inner
{
	border-bottom-left-radius:0px !important;
	-webkit-border-top-right-radius:0px !important;
	-moz-border-top-right-radius:0px !important;
	-webkit-border-bottom-right-radius:0px !important;
	-webkit-border-bottom-left-radius:0px !important;
	border-top-right-radius:0px !important;
	-webkit-border-top-left-radius:0px !important;
	border-radius:0px !important;
	-moz-border-bottom-right-radius:0px !important;
	-moz-border-top-left-radius:0px !important;
	border-top-left-radius:0px !important;
	-moz-border-radius:0px !important;
	-moz-border-bottom-left-radius:0px !important;
	border-bottom-right-radius:0px !important;
	-webkit-border-radius:0px !important;
}
*#dm *.dmBody div.u_1158811413:hover *.svg
{
	color:rgba(0,0,0,1) !important;
	fill:rgba(0,0,0,1) !important;
}
*#dm *.dmBody div.u_1158811413.hover *.svg
{
	color:rgba(0,0,0,1) !important;
	fill:rgba(0,0,0,1) !important;
}
*#dm *.dmBody div.u_1512268151:hover *.svg
{
	color:rgba(0,0,0,1) !important;
	fill:rgba(0,0,0,1) !important;
}
*#dm *.dmBody div.u_1512268151.hover *.svg
{
	color:rgba(0,0,0,1) !important;
	fill:rgba(0,0,0,1) !important;
}
*#dm *.dmBody div.u_1995571377:hover *.svg
{
	color:rgba(0,0,0,1) !important;
	fill:rgba(0,0,0,1) !important;
}
*#dm *.dmBody div.u_1995571377.hover *.svg
{
	color:rgba(0,0,0,1) !important;
	fill:rgba(0,0,0,1) !important;
}
*#dm *.dmBody div.u_1177177766:hover *.svg
{
	color:rgba(0,0,0,1) !important;
	fill:rgba(0,0,0,1) !important;
}
*#dm *.dmBody div.u_1177177766.hover *.svg
{
	color:rgba(0,0,0,1) !important;
	fill:rgba(0,0,0,1) !important;
}
*#dm *.dmBody div.u_1158811413 *.svg
{
	color:rgba(185,185,185,1) !important;
	fill:rgba(185,185,185,1) !important;
}
*#dm *.dmBody div.u_1512268151 *.svg
{
	color:rgba(185,185,185,1) !important;
	fill:rgba(185,185,185,1) !important;
}
*#dm *.dmBody div.u_1177177766 *.svg
{
	color:rgba(185,185,185,1) !important;
	fill:rgba(185,185,185,1) !important;
}
*#dm *.dmBody div.u_1995571377 *.svg
{
	color:rgba(185,185,185,1) !important;
	fill:rgba(185,185,185,1) !important;
}
*#dm *.dmBody div.u_1432652653
{
	background-repeat:no-repeat !important;
	background-image:url(https://irp-cdn.multiscreensite.com/3b6447d3/dms3rep/multi/stunning_house.jpg) !important;
	background-size:cover !important;
}
*#dm *.dmBody div.u_1019583280
{
	background-repeat:no-repeat !important;
	background-image:url(https://irp-cdn.multiscreensite.com/md/unsplash/dms3rep/multi/photo-1494526585095-c41746248156.jpg) !important;
	background-size:cover !important;
}
*#dm *.dmBody div.u_1432652653:before
{
	background-color:rgba(0,0,0,1) !important;
	opacity:0.2 !important;
}
*#dm *.dmBody div.u_1432652653.before
{
	background-color:rgba(0,0,0,1) !important;
	opacity:0.2 !important;
}
*#dm *.dmBody div.u_1381885977:before
{
	background-color:rgba(0,0,0,1) !important;
	opacity:0.2 !important;
}
*#dm *.dmBody div.u_1381885977.before
{
	background-color:rgba(0,0,0,1) !important;
	opacity:0.2 !important;
}
*#dm *.dmBody div.u_1481397729:before
{
	background-color:rgba(0,0,0,1) !important;
	opacity:0.2 !important;
}
*#dm *.dmBody div.u_1481397729.before
{
	background-color:rgba(0,0,0,1) !important;
	opacity:0.2 !important;
}
*#dm *.dmBody div.u_1442294328:before
{
	background-color:rgba(0,0,0,1) !important;
	opacity:0.2 !important;
}
*#dm *.dmBody div.u_1442294328.before
{
	background-color:rgba(0,0,0,1) !important;
	opacity:0.2 !important;
}
*#dm *.dmBody *.u_1044619838 *.readMore a
{
	color:rgba(148,148,148,1) !important;
}
*#dm *.dmBody *.u_1122861294
{
	text-align:LEFT !important;
}
*#dm *.dmBody a.u_1887238340:hover
{
	background-color:rgba(255,255,255,1) !important;
}
*#dm *.dmBody a.u_1887238340.hover
{
	background-color:rgba(255,255,255,1) !important;
}
*#dm *.dmBody div.u_1044619838 .postDescription
{
	max-height:5.5em !important;
}
*#dm *.dmBody div.u_1044619838 .postArticle>.inner
{
	box-shadow:none !important;
	-moz-box-shadow:none !important;
	-webkit-box-shadow:none !important;
}
